body { 
   font-family: Arial; 
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

.nav-btn {
    display: inline-block;
    padding: 10px 18px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease;
}

.nav-btn:hover {
    background-color: #45a049;
}